certifi
cffi
chardet
Click
colorama
Flask
gevent
greenlet
hash-ring
idna
itsdangerous
Jinja2
locust
MarkupSafe
msgpack
Pillow
pycket
pycparser
PyMySQL
pyzmq
qrcode
redis
requests
six
tormysql
tornado
urllib3
Werkzeug
WTForms
wtforms-tornado
