{% extends "template_index.html" %}

{% block css %}
{% include mode_css.html%}
<!-- JQuery DataTable Css -->
<link rel="stylesheet" href="{{ static_url('assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css')}}">
{% end %}

{% block middle %}
<section class="content" style="height: calc(100vh - 60px);">
    {% include mode_proxy_order_count_list_all.html%}
</section>
{% end %}

{% block js %}
{% include mode_js.html%}
<!-- Jquery DataTable Plugin Js -->
<script src="{{ static_url('assets/bundles/datatablescripts.bundle.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.html5.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.print.min.js')}}"></script>

<script src="{{ static_url('assets/js/pages/tables/jquery-datatable.js')}}"></script>

<script >
    $(document).ready(function () {
        // var prc_type = $("#prc_type").val();
        var time_type = $("#time_type").val();
        if(time_type == null){
            time_type = "0";
        }
        var myTable = $('#datatable01').DataTable({
            order: [[ 2, "desc"]],
            bProcessing : true, //DataTables载入数据时，是否显示‘进度’提示
            bServerSide : true, //是否启动服务器端数据导入
            searching: true,
            stateSave: false,
            ordering: false,
            paging: true,
            // pagingType: 'full_numbers',
            // sPaginationType: 'full_numbers',
            autoWidth: true,
            responsive: false,
            // pageLength: 10,
            destroy: false,
            lengthChange: false,
            iDisplayLength : 10, //默认显示的记录数
            bPaginate : true, //是否显示（应用）分页器
            bInfo : true, //是否显示页脚信息，DataTables插件左下角显示记录数
            ajax: {
                'url': '/adminSZba2qjbydxVhMJpuKfy/proxy?fx_type=list_proxy_order_count_all&time_type=' + time_type + '&nt='+ Date.parse(new Date()),
                // 'dataSrc': handle_data_src,
                'type': 'POST',
                'async': false,
                'data': {}
            },
            columns: [
                {
                    title: "{{_('返佣')}}",
                    data: 'uname',
                    class: 'text-center',
                    render: function (data, type, row) {
                        return '<a href="/adminSZba2qjbydxVhMJpuKfy/proxy?fx_type=list_proxy_order_count&uid=' + row.uid + '&time_type=' + time_type +'" target=\'_blank\'>'+ row.uname +'</a> ';
                    }
                },
                {
                    title: "{{_('单量')}}",
                    data: 't_count',
                    class: 'text-center'
                },
                {
                    title: "{{_('入账佣金')}}",
                    data: 'to_profit',
                    class: 'text-center',
                },
                {
                    title: "{{_('需结算佣金')}}",
                    data: 'sum_profit',
                    class: 'text-center',
                },
                {
                    title: "{{_('未结算金额')}}",
                    data: 'uid',
                    class: 'text-center',
                    render: function (data, type, row) {
                        return '<span id="un_' + row.uid + '" + ></span> <input id="' + row.uid + '" name="type" type="hidden" value="' + row.uid + '">';
                    }
                },
                {
                    title: "{{_('结算')}}",
                    data: 'uid',
                    class: 'text-center',
                    render: function (data, type, row) {
                        return '<a href="/adminSZba2qjbydxVhMJpuKfy/proxy?fx_type=add_settlement&time_type=the_week&uid=' + row.uid + '" target=\'_blank\'>结算</a> ';
                    }
                }
            ],
            language: { //自定义描述....
                "sProcessing": "{{_('正在获取数据, 请稍后')}}...",
                // "sLengthMenu": "显示 _MEUN_ 条",
                "sZeroRecords": "{{_('没有找到数据')}}",
                "sInfo": "{{_('从')}} _START_ {{_('到')}} _END_ {{_('条记录')}} {{_('总记录数为')}} _TOTAL_ {{_('条')}}",
                "sInfoEmpty": "{{_('记录数为0')}}",
                "sInfoFiltered": "({{_('全部记录数')}} _MAX_ {{_('条')}})",
                "sInfoPostFix": "",
                "sSearch": "{{_('全局搜索')}}",
                "sUry": "",
                "oPaginate": {
                    "sFirst": "{{_('第一页')}}",
                    "sPrevious": "{{_('上一页')}}",
                    "sNext": "{{_('下一页')}}",
                    "sLast": "{{_('最后一页')}}"
                },
                "loadingRecords": "{{_('请稍候-正在加载')}}...",
                "processing": "{{_('数据库当前很忙')}}",
                "search": "{{_('关键字搜索')}} _INPUT_ {{_('应用于表格')}}"
            },
            "drawCallback": function( settings ) {
                displayName();
            }
        });
        // 延迟搜索
        $(".dataTables_filter input") .unbind() .bind('keyup change', function(e) { if (e.keyCode == 13 || this.value == "") { myTable .search(this.value) .draw(); } });
        $.ajax({
            type: 'post',
            url: '/adminSZba2qjbydxVhMJpuKfy/proxy?fx_type=list_proxy_count_all&time_type=' + time_type + '&nt='+ Date.parse(new Date()),
            data: {},
            cache: false,
            dataType: "JSON",
            success:  function(re) {
                if (re.reponse_status == 5) {
                    document.getElementById("h2_1").innerHTML = number_format(re.data[1].all_count, 0, ".", ",", "floor");
                    document.getElementById("h2_2").innerHTML = number_format(re.data[1].in_profit, 2, ".", ",", "floor");
                    document.getElementById("h2_3").innerHTML = number_format(re.data[0].all_count, 0, ".", ",", "floor");
                    document.getElementById("h2_4").innerHTML = number_format(re.data[0].in_profit, 2, ".", ",", "floor");
                    document.getElementById("h2_5").innerHTML = number_format(re.data[0].all_profit, 2, ".", ",", "floor");
                    document.getElementById("h2_6").innerHTML = number_format(re.data[1].in_profit-re.data[0].all_profit, 2, ".", ",", "floor");
                    //displayName();
                }else if (re.reponse_status == -1){
                    login_time_out();
                }
            },
            error:function(re) {
                    showNotification("bg-red","佣金统计,获得数据异常,稍后重试","bottom","center",null,null);//错误警示
                }
        });
    });

//  显示js对象的所有属性名称和属性值
    function displayProp(obj){
        var msg ="";
        for(var name in obj){
            msg += name+": "+ obj[name]+"\r\n ";
        }
        alert(msg);
    }
    function displayName() {
        var kk = document.getElementById('datatable01').getElementsByTagName("input");//$('#datatable01').
        for (var i=0;i<kk.length;i++) {
            {#alert(kk[i].id);#}
            get_ettlement_count(kk[i].id);
            {#alert($(name).attr('name'));#}
            {#displayProp(name);#}
            setTimeout(function() {

            },1000);
        }
    }

    function get_ettlement_count(uid){
        //加载总佣金，总结算等信息
        $.ajax({
            type: 'post',
            url: '/adminSZba2qjbydxVhMJpuKfy/proxy?fx_type=list_proxy_settlement_count&uid='+uid+'&nt='+ Date.parse(new Date()),
            data: {},
            cache: false,
            dataType: "JSON",
            success:  function(re) {
                if (re.reponse_status == 5) {
                    document.getElementById("un_" + uid).innerHTML = number_format(re.all_proxy_profit - re.all_amount, 2, ".", "", "floor").toString();
                    if (re.all_proxy_profit - re.all_amount >= 50){
                        {#$("un_" + uid).addClass("btn-slategray");#}
                        document.getElementById("un_" + uid).style.color="red";
                    }
                }else if (re.reponse_status == -1){
                    login_time_out();
                }
            },
            error:function(re) {
                    showNotification("bg-red","未结算统计,获得数据异常,稍后重试","bottom","center",null,null);//错误警示
                }
        });

    }
</script>
{% end %}