{% extends "template_index.html" %}

{% block css %}
{% include mode_css.html%}
<!-- JQuery DataTable Css -->
<link rel="stylesheet" href="{{ static_url('assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css')}}">
<link rel="stylesheet" href="{{ static_url('assets/plugins/sweetalert/sweetalert2.min.css')}}">
{% end %}

{% block middle %}
<section class="content" style="height: calc(100vh - 60px);">
    {% include mode_proxy_add_settlement.html%}
</section>
{% end %}

{% block js %}
{% include mode_js.html%}
<!-- Jquery DataTable Plugin Js -->
<script src="{{ static_url('assets/bundles/datatablescripts.bundle.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.html5.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.print.min.js')}}"></script>

<script src="{{ static_url('assets/js/pages/tables/jquery-datatable.js')}}"></script>
<script src="{{ static_url('assets/plugins/sweetalert/sweetalert.min.js')}}"></script>
<script >
    $(document).ready(function () {
        // var prc_type = $("#prc_type").val();
        var time_type = $("#time_type").val();
        if(time_type == null){
            time_type = "0";
        }
        var myTable = $('#datatable01').DataTable({
            order: [[ 2, "desc"]],
            bProcessing : true, //DataTables载入数据时，是否显示‘进度’提示
            bServerSide : true, //是否启动服务器端数据导入
            searching: true,
            stateSave: false,
            ordering: false,
            paging: true,
            // pagingType: 'full_numbers',
            // sPaginationType: 'full_numbers',
            autoWidth: true,
            responsive: false,
            // pageLength: 10,
            destroy: false,
            lengthChange: false,
            iDisplayLength : 10, //默认显示的记录数
            bPaginate : true, //是否显示（应用）分页器
            bInfo : true, //是否显示页脚信息，DataTables插件左下角显示记录数
            ajax: {
                'url': '/adminSZba2qjbydxVhMJpuKfy/proxy?fx_type=list_proxy_order_count&uid={{page_main["uid"]}}&time_type=' + time_type + '&nt='+ Date.parse(new Date()),
                // 'dataSrc': handle_data_src,
                'type': 'POST',
                'async': false,
                'data': {}
            },
            columns: [
                {
                    title: "{{_('账户')}}",
                    data: 'acco',
                    class: 'text-center',
                    render: function (data, type, row) {
                        return '<a href="/adminSZba2qjbydxVhMJpuKfy/proxy?fx_type=list_proxy_order&uid='+ row.uid +'&account=' + row.acco + '&time_type=' + time_type +'" target=\'_blank\'>'+ row.acco +'</a> ';
                    }
                },
                {
                    title: "{{_('单量')}}",
                    data: 't_count',
                    class: 'text-center'
                },
                {
                    title: "{{_('佣金')}}",
                    data: 'sum_profit',
                    class: 'text-center',
                }
            ],
            language: { //自定义描述....
                "sProcessing": "{{_('正在获取数据, 请稍后')}}...",
                // "sLengthMenu": "显示 _MEUN_ 条",
                "sZeroRecords": "{{_('没有找到数据')}}",
                "sInfo": "{{_('从')}} _START_ {{_('到')}} _END_ {{_('条记录')}} {{_('总记录数为')}} _TOTAL_ {{_('条')}}",
                "sInfoEmpty": "{{_('记录数为0')}}",
                "sInfoFiltered": "({{_('全部记录数')}} _MAX_ {{_('条')}})",
                "sInfoPostFix": "",
                "sSearch": "{{_('全局搜索')}}",
                "sUry": "",
                "oPaginate": {
                    "sFirst": "{{_('第一页')}}",
                    "sPrevious": "{{_('上一页')}}",
                    "sNext": "{{_('下一页')}}",
                    "sLast": "{{_('最后一页')}}"
                },
                "loadingRecords": "{{_('请稍候-正在加载')}}...",
                "processing": "{{_('数据库当前很忙')}}",
                "search": "{{_('关键字搜索')}} _INPUT_ {{_('应用于表格')}}"
            }
        });
        // 延迟搜索
        $(".dataTables_filter input") .unbind() .bind('keyup change', function(e) { if (e.keyCode == 13 || this.value == "") { myTable .search(this.value) .draw(); } });
        $.ajax({
            type: 'post',
            url: '/adminSZba2qjbydxVhMJpuKfy/proxy?fx_type=list_proxy_count&uid={{page_main["uid"]}}&time_type=' + time_type + '&nt='+ Date.parse(new Date()),
            data: {},
            cache: false,
            dataType: "JSON",
            success:  function(re) {
                if (re.reponse_status == 5) {
                    document.getElementById("h2_1").innerHTML = number_format(re.data[0].all_count, 0, ".", ",", "floor");
                    document.getElementById("h2_2").innerHTML = number_format(re.data[0].all_profit, 2, ".", ",", "floor");
                }else if (re.reponse_status == -1){
                    login_time_out();
                }
            },
            error:function(re) {
                    showNotification("bg-red","佣金统计,获得数据异常,稍后重试","bottom","center",null,null);//错误警示
                }
        });
        //加载总佣金，总结算等信息
        document.getElementById("button_enter_send").disabled = true;
        $.ajax({
            type: 'post',
            url: '/adminSZba2qjbydxVhMJpuKfy/proxy?fx_type=list_proxy_settlement_count&uid={{page_main["uid"]}}&nt='+ Date.parse(new Date()),
            data: {},
            cache: false,
            dataType: "JSON",
            success:  function(re) {
                if (re.reponse_status == 5) {
                    document.getElementById("all_1").innerHTML = number_format(re.all_profit, 2, ".", ",", "floor");
                    document.getElementById("all_2").innerHTML = number_format(re.all_proxy_profit, 2, ".", ",", "floor");
                    document.getElementById("all_3").innerHTML = number_format(re.all_amount, 2, ".", ",", "floor");
                    document.getElementById("all_4").innerHTML = number_format(re.all_proxy_profit - re.all_amount, 2, ".", ",", "floor");

                    document.getElementById("in_uname").value = re.uname;
                    document.getElementById("in_iban").value = re.iban;
                    document.getElementById("amount").value = number_format(re.all_proxy_profit - re.all_amount, 2, ".", "", "floor");
                    document.getElementById("button_enter_send").disabled = false;
                }else if (re.reponse_status == -1){
                    login_time_out();
                }
            },
            error:function(re) {
                    showNotification("bg-red","总统计,获得数据异常,稍后重试","bottom","center",null,null);//错误警示
                }
        });
    });

//  显示js对象的所有属性名称和属性值
    function displayProp(obj){
        var msg ="";
        for(var name in obj){
            msg += name+": "+ obj[name]+"\r\n ";
        }
        alert(msg);
    }



    //新增结算
    function my_submit() {
        // var arr = $("#parameter_form").serialize();
        document.getElementById("button_enter_send").disabled = true;
        $.ajax({
            type: 'post',
            url: '/adminSZba2qjbydxVhMJpuKfy/proxy?fx_type=add_settlement&uid={{page_main["uid"]}}&nt=' + Date.parse(new Date()),
            data: $("form").serialize(),
            cache: false,
            dataType: "JSON",
            success: function (re) {
                if (re.reponse_status == 5) {
                    swal("{{_('结算')}}", "{{_('新增成功')}}", "success");
                    document.getElementById("button_enter_send").disabled = true;
                    // resolve();
                }else if (re.reponse_status < 0){
                    // swal.fire(re.echo + "error:" + re.reponse_status.toString());
                    swal({
                        title: "{{_('结算')}}",
                        text: re.echo,
                        type: "error",
                        html: true
                    });
                    // login_time_out();
                    // resolve();
                } else {
                    swal("{{_('结算')}}", "{{_('未知错误，请稍候再试')}}", "error");
                    document.getElementById("button_enter_send").disabled = false;
                    // reject(re.echo);
                }
            },
            error: function (re) {
                // showNotification("bg-red","授权失败,获得数据异常,请重试","bottom","center",null,null);//错误警示
                // reject("未知错误,授权失败,稍后请重试！");
                swal("{{_('结算')}}", "{{_('未知错误，请稍候再试')}}", "error");
            }
        });
    }
</script>
{% end %}