{% extends "template_index.html" %}

{% block css %}
{% include mode_css.html%}
<!-- JQuery DataTable Css -->
<link rel="stylesheet" href="{{ static_url('assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css')}}">
{% end %}

{% block middle %}
<section class="content" style="height: calc(100vh - 60px);">
    {% include mode_order_count_list.html%}
</section>
{% end %}

{% block js %}
{% include mode_js.html%}
<!-- Jquery DataTable Plugin Js -->
<script src="{{ static_url('assets/bundles/datatablescripts.bundle.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.html5.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.print.min.js')}}"></script>

<script src="{{ static_url('assets/js/pages/tables/jquery-datatable.js')}}"></script>

<script >
    $(document).ready(function () {
        // var prc_type = $("#prc_type").val();
        var time_type = $("#time_type").val();
        if(time_type == null){
            time_type = "0";
        }
        var myTable = $('#datatable01').DataTable({
            order: [[ 2, "desc"]],
            bProcessing : true, //DataTables载入数据时，是否显示‘进度’提示
            bServerSide : true, //是否启动服务器端数据导入
            searching: true,
            stateSave: false,
            ordering: false,
            paging: true,
            // pagingType: 'full_numbers',
            // sPaginationType: 'full_numbers',
            autoWidth: true,
            responsive: false,
            // pageLength: 10,
            destroy: false,
            lengthChange: false,
            iDisplayLength : 10, //默认显示的记录数
            bPaginate : true, //是否显示（应用）分页器
            bInfo : true, //是否显示页脚信息，DataTables插件左下角显示记录数
            ajax: {
                'url': '/admin/copy?fx_type=list_order_count&time_type=' + time_type + '&nt='+ Date.parse(new Date()),
                // 'dataSrc': handle_data_src,
                'type': 'POST',
                'async': false,
                'data': {}
            },
            columns: [
                {
                    title: '跟单账户',
                    data: 'account',
                    class: 'text-center'
                },
                {
                    title: '姓名',
                    data: 'allname',
                    class: 'text-center'
                },
                {
                    title: '单量',
                    data: 't_count',
                    class: 'text-center'
                },
                {
                    title: '手数',
                    data: 't_num',
                    class: 'text-center'
                },
                {
                    title: '利润',
                    data: 't_profit',
                    class: 'text-center'
                },
                {
                    title: '库存费',
                    data: 't_swap',
                    class: 'text-center'
                },
                {
                    title: '手续费',
                    data: 't_comm',
                    class: 'text-center'
                },
                {
                    title: '净利润',
                    data: 'uaid',
                    class: 'text-center',
                    render:function (data,type,row) {
                        return number_format(row.t_swap + row.t_comm + row.t_profit, 2);
                    }
                }
            ],
            language: { //自定义描述....
                "sProcessing": "正在获取数据, 请稍后...",
                // "sLengthMenu": "显示 _MEUN_ 条",
                "sZeroRecords": "没有找到数据",
                "sInfo": "从 _START_ 到 _END_ 条记录 总记录数为 _TOTAL_ 条",
                "sInfoEmpty": "记录数为0",
                "sInfoFiltered": "(全部记录数 _MAX_ 条)",
                "sInfoPostFix": "",
                "sSearch": "全局搜索",
                "sUry": "",
                "oPaginate": {
                    "sFirst": "第一页",
                    "sPrevious": "上一页",
                    "sNext": "下一页",
                    "sLast": "最后一页"
                },
                "loadingRecords": "Please wait - loading...",
                "processing": "DataTables is currently busy",
                "search": "Apply filter _INPUT_ to table"
            },
        });
        // 延迟搜索
        $(".dataTables_filter input") .unbind() .bind('keyup change', function(e) { if (e.keyCode == 13 || this.value == "") { myTable .search(this.value) .draw(); } });

    });

</script>
{% end %}