{% extends "template_index.html" %}

{% block css %}
{% include mode_css.html%}
<!-- JQuery DataTable Css -->
<link rel="stylesheet" href="{{ static_url('assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css')}}">
<link rel="stylesheet" href="{{ static_url('assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css')}}">
<link rel="stylesheet" href="{{ static_url('assets/plugins/sweetalert/sweetalert2.min.css')}}">
{% end %}

{% block middle %}
<section class="content">
    {% include mode_bread.html%}
    {% include mode_posts_list.html%}
</section>
{% end %}

{% block js %}
{% include mode_js.html%}
<!-- Jquery DataTable Plugin Js -->
<script src="{{ static_url('assets/bundles/datatablescripts.bundle.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.html5.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.print.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/sweetalert/sweetalert.min.js')}}"></script>
<script src="{{ static_url('assets/js/pages/tables/jquery-datatable.js')}}"></script>
<script src="{{ static_url('assets/plugins/nouislider/nouislider.js')}}"></script>
<script >
    $(document).ready(function () {
        var prc_type = $("#prc_type").val();
        var myTable = $('#datatable01').DataTable({
            order: [[ 2, "desc"]],
            bProcessing : true, //DataTables载入数据时，是否显示‘进度’提示
            bServerSide : true, //是否启动服务器端数据导入
            searching: true,
            stateSave: false,
            paging: true,
            // pagingType: 'full_numbers',
            // sPaginationType: 'full_numbers',
            autoWidth: true,
            responsive: false,
            // pageLength: 10,
            destroy: true,
            lengthChange: false,
            iDisplayLength : 10, //默认显示的记录数
            bPaginate : true, //是否显示（应用）分页器
            bInfo : true, //是否显示页脚信息，DataTables插件左下角显示记录数
            ajax: {
                'url': '/adminSZba2qjbydxVhMJpuKfy/posts?fx_type=list_posts&prc_type='+ prc_type+'&nt='+ Date.parse(new Date()),
                // 'dataSrc': handle_data_src,
                'type': 'POST',
                'async': false,
                'data': {}
            },
            columns: [
                {
                    title: '分类',
                    data: 'posts_type_name_cn',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: '标题',
                    data: 'post_title',
                    align: 'center',
                    valign: 'middle',
                    // class: 'd-inline-block text-truncate',
                    render: function (data, type, row) {
                        return '<a href="/adminSZba2qjbydxVhMJpuKfy/posts?fx_type=edit_post&id=' + row.post_id + '">' + row.post_title + '</a> ';
                    }
                },
                {
                    title: '创建时间',
                    data: 'post_date',
                    align: 'center'
                },
                {
                    title: '更新时间',
                    data: 'post_modified',
                    align: 'center'
                },
                {
                    title: '阅读数量',
                    data: 'read_count',
                    align: 'center',
                },
                {
                    title: '作者',
                    data: 'uname',
                    align: 'center',
                },
                {
                    title: '状态',
                    data: 'post_status',
                    align: 'center',
                    render: function (data, type, row) {
                        if(row.post_status == 1){
                            return "隐藏";
                        }else if(row.post_status == 5){
                            return "发布";
                        }else if (row.post_status == 0) {
                            return "删除";
                        }else {
                            return "未知";
                        }
                    }
                },
                {
                    title: '操作',
                    data: 'post_id',
                    align: 'd-flex justify-content-between',
                    render: function (data, type, row) {
                        return '<a href="/adminSZba2qjbydxVhMJpuKfy/posts?fx_type=edit_post&id=' + row.post_id + '">编辑</a> ' +
                            '<a href="javascript:void(0);" onclick="del_submit('+row.post_id +')">删除</a>';
                    }
                }
            //   formatter:function(value,row,index){
            // var e = '<a href="#" mce_href="#" onclick="edit(\''+ row.news_id + '\')">编辑</a> ';
            // var d = '<a href="#" mce_href="#" onclick="del(\''+ row.inews_id +'\')">删除</a> ';
            //     return e+d;
            ],
            language: { //自定义描述....
                "sProcessing": "正在获取数据, 请稍后...",
                // "sLengthMenu": "显示 _MEUN_ 条",
                "sZeroRecords": "没有找到数据",
                "sInfo": "从 _START_ 到 _END_ 条记录 总记录数为 _TOTAL_ 条",
                "sInfoEmpty": "记录数为0",
                "sInfoFiltered": "(全部记录数 _MAX_ 条)",
                "sInfoPostFix": "",
                "sSearch": "全局搜索",
                "sUry": "",
                "oPaginate": {
                    "sFirst": "第一页",
                    "sPrevious": "上一页",
                    "sNext": "下一页",
                    "sLast": "最后一页"
                },
                "loadingRecords": "Please wait - loading...",
                "processing": "DataTables is currently busy",
                "search": "Apply filter _INPUT_ to table"
            },
        });
    // 搜索框在输入5个字符，或者回车，触发搜索Grab the datatables input box and alter how it is bound to events
    $(".dataTables_filter input")
        .unbind() // Unbind previous default bindings
        .bind("keypress", function(e) { // Bind our desired behavior
            // If the length is 3 or more characters, or the user pressed ENTER, search
            if(e.keyCode == 13) {//this.value.length >= 5 ||
                // Call the API search function
                myTable.search(this.value).draw();

            }
            // Ensure we clear the search if they backspace far enough
            // if(this.value == "") {
            //     myTable.search("").draw();
            // }
            return;
        });
    //         responsive: true,
    //         serverSide: true,
    //         processing: true,
    //         // dataSrc: 'data',
    //         // mData:data,
    //         ajax: {
    //             type: 'POST',
    //             url: "/conadmin/news",
    //             dataType: "JSON",
    //             // dataSrc: 'data'
    //         },
    //         columns: [
    //             { "data": "first_name" },
    //             { "data": "last_name" },
    //             { "data": "position" },
    //             { "data": "office" },
    //             { "data": "start_date" },
    //             { "data": "salary" }
    //         ]
    //     });
    });
    function del_submit(id){
            // args._xsrf = getCookie("_xsrf");
            // document.getElementById("status_v").value = status_v;
            // $("#status_v").attr("value",status_v);
        $.ajax({
            type: 'POST',
            url: '/adminSZba2qjbydxVhMJpuKfy/posts?fx_type=del&id=' + id,
            data: $("form").serialize(),
            dataType: "JSON",
            success:  function(re) {
                if (re.ok_status == 5) {
                    swal(re.echo_title, re.echo, "success");
                    window.location.reload();
                    scrollTo(0,0);
                }else if (re.ok_status < 5 && re.ok_status > 0) {
                    swal({
                        title: re.echo_title,
                        text: re.echo,
                        type: "error",
                        html: true,
                    })
                }else if (re.ok_status <= 0){
                    swal(re.echo_title, "发生非法操作，请重新登陆再试", "error");
                    window.location.href="/adminSZba2qjbydxVhMJpuKfy/";
                }else{
                    swal(re.ok_status, "未知错误，请稍候再试", "error");
                }
            }
        });
    }
</script>
{% end %}