<script src="{{ static_url('assets/plugins/chartjs/Chart.bundle.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/chartjs/polar_area_chart.js')}}"></script>
<script src="{{ static_url('assets/bundles/flotchartsscripts.bundle.js')}}"></script>
<script src="{{ static_url('assets/js/js_chart.js')}}"></script> <!--  -->
<!--<script>-->
    <!--var fxcns_window_hidden_flag = true;-->
    <!--// var hiddenProperty = 'hidden' in document ? 'hidden' :-->
    <!--// 'webkitHidden' in document ? 'webkitHidden' :-->
    <!--// 'mozHidden' in document ? 'mozHidden' :-->
    <!--// null;-->
    <!--// var visibilityChangeEvent = hiddenProperty.replace(/hidden/i, 'visibilitychange');-->
    <!--// var onVisibilityChange = function(){-->
    <!--//     if (!document[hiddenProperty]) {-->
    <!--//         // console.log('页面非激活');-->
    <!--//         fxcns_window_hidden_flag = false;-->
    <!--//     }else{-->
    <!--//         // console.log('页面激活')-->
    <!--//         fxcns_window_hidden_flag = true;-->
    <!--//     }-->
    <!--// }-->
    <!--// document.addEventListener(visibilityChangeEvent, onVisibilityChange);-->
    <!--var fxcns_window_flag = true;-->
    <!--//window 失去焦点，停止输出-->
    <!--// window.onblur = function() {-->
    <!--//     fxcns_window_flag = false;-->
    <!--// };-->
    <!--// //window 获得焦点，输出-->
    <!--// window.onfocus = function() {-->
    <!--//     fxcns_window_flag = true;-->
    <!--// }-->
    <!--window.onload = function(){-->
        <!--// set_natural_scheme();-->
        <!--// $.ajaxSetup({-->
        <!--//   cache: false-->
        <!--// });-->
        <!--// skinChanger_setCookie();-->
        <!--// checkCookie();-->
        <!--updata_count();-->
        <!--// pie_chart();//测试-->
        <!--updata_strategy_symbol();-->
        <!--updata_strategy_copy_status();-->
        <!--updata_strategy_loging();-->
        <!--updata_strategy_net_ratio();-->

    <!--}-->
    <!--function my_login(){-->
        <!--// $("#h2_1").attr("data-to","600");-->
        <!--$("#h2_1").text("999999999");-->
        <!--$("#h2_2").text("999999999");-->
        <!--$("#h2_3").text("knob_1");-->
        <!--$("#h2_4").text("9999");-->
        <!--// $("#linecustom1").text("700");-->
    <!--}-->
    <!--// Morris donut chart-->
    <!--function MorrisDonutChart() {-->
        <!--Morris.Donut({-->
            <!--element: 'm_donut_chart',-->
            <!--data: [-->
            <!--{-->
                <!--label: "Online Sales",-->
                <!--value: 45,-->
            <!--}, {-->
                <!--label: "Agent Sales",-->
                <!--value: 55,-->
            <!--}],-->
            <!--resize: false,-->
            <!--colors: ['#ffd97f', '#fab2c0', '#80dad8', '#a1abb8']-->
        <!--});-->
    <!--}-->
    <!--function pie_chart () {-->
        <!--// new Chart(document.getElementById("pie_chart").getContext("2d"), getChartJs('pie',[50,50]));-->
        <!--// new Chart(document.getElementById("pie_chart2").getContext("2d"), getChartJs('pie2',[1,50]));-->

        <!--// $("#knob_1").attr("value",90);-->
        <!--// knob_check("#knob_1");-->
        <!--// knob_check("#knob_2");-->
                <!--// var ctx = document.getElementById("chart-area");-->
        <!--// window.myPolarArea = Chart.PolarArea(ctx, config);-->
    <!--}-->
<!--</script>-->
<script>
    var fxcns_window_hidden_flag = true;
    var fxcns_window_flag = true;
    // window.onload = master_load();
</script>