<div class="container-fluid">
    <!-- Exportable Table -->
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h2><strong>{{_(page_main['title_type'])}}</strong>  </h2>
                    <ul class="header-dropdown">
                        <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right slideUp float-right">
                                {%for j in type_dist%}
                                <li><a href="/adminSZba2qjbydxVhMJpuKfy/posts?fx_type=list_posts&prc_type={{j['posts_type_id']}}">{{j['posts_type_name_cn']}}</a></li>
                                {%end for%}
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <table id="datatable01" class="table table-bordered table-striped table-hover dataTable">
                        <!--js-exportable-->
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <input id="prc_type" name="type" type="hidden" value="{{prc_type}}">
    <!-- #END# Exportable Table -->
</div>