<div class="container-fluid">
    <!-- Exportable Table -->
    <div class="row clearfix">
        <div class="col-lg-12" style="margin-top: 30px;">
            <div class="card">
                <div class="header">
                    <h2><strong>{{_(page_main['title_type'])}}</strong>  </h2>
                </div>
                <div class="body">
                    <span id="echo_tags">共{{_(page_main['one_num'])}}个账户需要激活<BR></span>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Exportable Table -->
</div>