<!-- Modal -->
<div class="page-header">
    <div class="page-header-image"></div>
    <div class="container col-md-3">
        <div class="col-md-12 content-center">
            <div class="card-plain">
                <form class="form" action="" method="post" name="register">
                    <div class="header" style="padding-bottom: 50px;">
                        <div class="logo-container">
                            <img src="{{ static_url('img/new_logo.png')}}" alt="">
                        </div>
                        <h5>{{_('内部')}}{{_('管理区')}}</h5>
                    </div>
                    <div class="input-group input-lg">
                        <input name="umail" type="text" class="form-control" placeholder="{{_('邮箱')}}">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-email"></i>
                        </span>
                    </div>
                    <div class="input-group input-lg">
                        <input name="password" type="password" class="form-control" placeholder="{{_('密码')}}">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-lock-open"></i>
                        </span>
                    </div>

                    <div class="input-group input-lg text-center">
                        {% raw xsrf_form_html() %}
                        <button type="button" id="button_enter" class="btn btn-primary btn-round btn-lg btn-block " onClick="my_submit_login()"><span id="login_tags3">{{_('登录')}}</span></button>
                    </div>
                    <div class="footer text-center">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var countdown = 120;
    function my_login(){
        $.getScript('https://www.recaptcha.net/recaptcha/api.js?render=6LeU8KMUAAAAAM1-_0E1cKMnlvoJCBpxEhUH0N7A',function(){
            document.getElementById("button_enter").disabled = true;
            grecaptcha.ready(function() {
                    grecaptcha.execute('6LeU8KMUAAAAAM1-_0E1cKMnlvoJCBpxEhUH0N7A', {action: 'register'}).then(function(token) {
                        $.ajax({
                            type: 'POST',
                            url: '/recaptcha',
                            data: { token: token },
                            dataType: "JSON",
                            success:  function(re) {
                                if(re.success==true) {
                                    if (re.score >= 0.6) {
                                        document.getElementById("button_enter").disabled = false;
                                        // showNotification("bg-blue","✓ {{_('已经通过Recaptcha人机验证！请输入信息进入......')}}","top","center",null,null);//正常提示
                                    }else{
                                        showNotification("bg-red","✗ {{_('Recaptcha人机验证失败！请稍后10分钟再试')}}","bottom","center",null,null);//错误警示
                                    }
                                }else{
                                    showNotification("bg-red","✗ {{_('Recaptcha人机验证失败！请稍后10分钟再试')}}","bottom","center",null,null);//错误警示
                                }
                            }
                        });
                    });
                });
        });
    }

    function my_submit_login(){
        // args._xsrf = getCookie("_xsrf");
        // $('#button_enter_send').modal('hide')
        var login_str = $("#login_tags3").text();
        document.getElementById("button_enter").disabled = true;
        $.ajax({
            type: 'POST',
            url: '/adminSZba2qjbydxVhMJpuKfy/index',
            data: $("form").serialize(),
            dataType: "JSON",
            success:  function(re) {
                if (re.reponse_status == 5) {
                    swal("登陆", re.echo, "success");
                    window.location.reload();
                    scrollTo(0,0);
                }else if (re.reponse_status < 5) {
                    showNotification("bg-red",re.echo,"bottom","center",null,null);//错误警示
                    setTimeShow("#login_tags3", "button_enter", login_str);
                }else if (re.reponse_status < 0){
                    showNotification("bg-red","发生非法操作，请重新登陆再试","bottom","center",null,null);//错误警示
                    setTimeShow("#login_tags3", "button_enter", login_str);
                }else{
                    showNotification("bg-red","未知错误，请稍候再试","bottom","center",null,null);//错误警示
                    setTimeShow("#login_tags3", "button_enter", login_str);
                }
            },
            error:function(re) {
                showNotification("bg-red","未知错误，请稍候再试","bottom","center",null,null);//错误警示
                setTimeShow("#login_tags3", "button_enter", login_str);
            }
        });
    }

    function setTimeShow(id_name, button_name, login_str){
        if (countdown <= 0){
            countdown = 60;
            $(id_name).text(login_str);
            document.getElementById(button_name).disabled = false;
            return;
        }else {
            countdown --;
            $(id_name).text(login_str + " ( " + countdown.toString() + " )");
            setTimeout(function() {
                setTimeShow(id_name, button_name, login_str)
            },1000);
        }
    }
    window.onload = my_login;
</script>