{% extends "template_index.html" %}

{% block css %}
{% include mode_css.html%}
<!-- JQuery DataTable Css -->
<link rel="stylesheet" href="{{ static_url('assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css')}}">
{% end %}

{% block middle %}
<section class="content" style="height: calc(100vh - 60px);">
    {% include mode_pricing_list.html%}
</section>
{% end %}

{% block js %}
{% include mode_js.html%}
<!-- Jquery DataTable Plugin Js -->
<script src="{{ static_url('assets/bundles/datatablescripts.bundle.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.html5.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.print.min.js')}}"></script>

<script >
    function urlgo(url){
        window.location.href="/user/accounts?fx_type=buy_price_one&fx_id="+url;
    }
</script>
{% end %}