{% extends "template_index.html" %}

{% block css %}
{% include mode_css.html%}
{% include mode_css2.html%}
{% end %}

{% block middle %}
<section class="content">
    {% include mode_edit_url_pass.html%}
</section>
{% end %}

{% block js %}
{% include mode_js.html%}

<script src="{{ static_url('assets/js/pages/ui/dialogs.js')}}"></script>
<script>
            // return e.preventDefault() // stops modal from being shown
        function getCookie(name) {
            var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
            return r ? r[1] : undefined;
        }
        function my_submit(){
            // args._xsrf = getCookie("_xsrf");
            document.getElementById("button_enter").disabled = true;
            $.ajax({
                type: 'POST',
                url: '/user/info?fx_type=edit_url_pass',
                data: $("form").serialize(),
                dataType: "JSON",
                success:  function(re) {
                    if (re.reponse_status == 5) {
                        swal.fire("{{_('对外展示状态，修改成功')}}");
                        document.getElementById("url_val_span").innerHTML = re.urlkey;
                        // $("#url_val").text();
                        $("#url_val").val(re.urlkey);
                    }else if (re.reponse_status < 5) {
                        swal.fire("{{_('修改对外展示')}}:"+re.echo);
                        document.getElementById("button_enter").disabled = false;
                    }else{
                        swal.fire("{{_('未知错误，请稍候再试')}}");
                        document.getElementById("button_enter").disabled = false;
                    }
                }
            });
        }
    //复制按钮
    function chick_copy_url(val_name) {
        //使用函数
        var val = $("#" + val_name).val();
        Clipboard.copy(val);
    }
</script>
{% end %}