<!-- CKEditor -->
<div class="container-fluid" style="padding-top:30px;">
    <div class="row clearfix">
        <div class="col-sm-12">
            <div class="card">
                <div class="header">
                    <h2><strong>{{_("最新")}}</strong> {{_("报表")}}</h2>
                    <ul class="header-dropdown">
                        <li class="remove">
                            <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-lg col-md-3 col-sm-12 text-center">
                                <h4 class="number m-t-0 m-b-5">{{page_main['group'].get('grade_price')}} </h4>
                                <span class="text-muted">{{_('当前返点')}}<BR>美元/标准手（以EURUSD为例）</span>
                        </div>
                        <div class="col-lg col-md-3 col-sm-12 text-center">

                                <h4 class="number m-t-0 m-b-5">{{ format(page_main.get('all_proxy_profit'), '0.2f') }}</h4>
                                <span class="text-muted">{{_('总佣金')}}</span>
                        </div>
                        <div class="col-lg col-md-3 col-sm-12 text-center">

                                <h4 class="number m-t-0 m-b-5">{{ format(page_main.get('all_amount'), '0.2f') }}</h4>
                                <span class="text-muted">{{_('已结算')}}</span>
                        </div>
                        <div class="col-lg col-md-3 col-sm-12 text-center">

                                <h4 class="number m-t-0 m-b-5">{{ format(page_main.get('all_proxy_profit') - page_main.get('all_amount'), '0.2f') }}</h4>
                                <span class="text-muted">{{_('未结算')}}</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="form_validation">
        <div class="row clearfix justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <div class="header">
                        <h2> <strong>结算说明</strong> <small></small> </h2>
                        <ul class="header-dropdown">
                            <li class="remove">
                                <!--<button class="btn btn-raised btn-primary btn-round waves-effect" type="button">{{_('保存更新')}}</button>-->
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="form-group form-float">
                                    <span style="color:blue"><B> ! {{_('为了感谢老用户，截止2022年6月6日前的老用户，返点在原有基础上每标准手+1美元（永久性）')}};</B></span>
                                    <BR>
{#                                    <span style="color:blue"><B> ! {{_('活动：时间到12.31日止，前100名每一标准手返7美元')}}，{{_('联系QQ客服确认修改')}};</B></span>#}
{#                                    <BR>#}
{#                                    <span style="color:blue"><B> ! {{_('第100名之后恢复每一标准手返6美元')}}。</B></span>#}
                                    <BR>
                                    <span style="color:blue"><B> ! {{_('初始返点为每标准手6美元')}},{{_('交易量大或MT4、MT5交易账号大于2个以上可咨询客服增加每手返点')}}。</B></span>
                                    <BR><BR>
                                    <span style="color:blue"><B> * {{_('结算周期：每周六结算并汇出/下周第一个工作日(遇假日顺延)瑞讯会入账到收款账号')}}。</B></span>
                                    <BR><BR>
                                    <span style="color:blue"><B> * {{_('结算条件：未结算金额超过50美元')}}。</B></span>
                                    <BR><BR>
                                    <span style="color:blue"><B> ! {{_('需佣金升级请联系QQ客服')}}</B></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- #END# CKEditor -->