<!-- CKEditor -->
<div class="container-fluid" style="padding-top:30px;">
    <form id="form_validation">
        <div class="row clearfix justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <div class="header">
                        <h2> <strong>{{page_main['title_type']}}</strong> <small></small> </h2>
                        <ul class="header-dropdown">
                            <li class="remove">
                                <!--<button class="btn btn-raised btn-primary btn-round waves-effect" type="button">{{_('保存更新')}}</button>-->
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="mr-auto p-2 bd-highlight"><B>{{_('当前返点')}} : {{page_main['group'].get('grade_price')}} 美元/标准手（以EURUSD为例）</B></div>
                                <div class="form-group form-float">
                                    <BR><BR>
                                    <span style="color:red"><B> ! {{_('活动：时间到12.31日止，前100名每一标准手返7美元')}}，{{_('联系QQ客服确认修改')}};</B></span>
                                    <BR>
                                    <span style="color:red"><B> ! {{_('第100名之后恢复每一标准手返5美元')}}。</B></span>
                                    <BR>
                                    <span style="color:red"><B> ! {{_('初始返佣为每标准手5美元')}},{{_('交易量增大或账户大于2个以上可咨询客服增加每手返佣')}}。</B></span>
                                    <BR><BR>
                                    <span style="color:red"><B> * {{_('结算周期：每周六结算并汇出/下周一(遇假日顺延)瑞讯会入账到收款账号')}}。</B></span>
                                    <BR><BR>
                                    <span style="color:red"><B> * {{_('结算条件：未结算金额超过50美元')}}。</B></span>
                                    <BR><BR>
                                    <span style="color:red"><B> ! {{_('佣金升级请联系QQ客服')}}</B></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- #END# CKEditor -->