<!-- CKEditor -->
<div class="container-fluid" style="padding-top:30px;">
    <form id="form_validation">
        <div class="row clearfix justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <div class="header">
                        <h2> <strong>{{page_main['title_type']}}</strong> <small></small> </h2>
                        <ul class="header-dropdown">
                            <li class="remove">
                                <!--<button class="btn btn-raised btn-primary btn-round waves-effect" type="button">{{_('保存更新')}}</button>-->
                            </li>
                        </ul>
                    </div>
                    <div class="body">

                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="mr-auto p-2 bd-highlight">{{_('瑞讯银行账户姓名')}}{{_('(请填写英文字母)')}}</div>
                                <div class="form-group form-float">
                                    <input id="uname" type="text" class="form-control" placeholder="{{_('瑞讯银行账户姓名')}}" name="uname" required value="{{page_main['uname']}}" {{ 'disabled' if page_main['flag'] > 0 else '' }}>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="mr-auto p-2 bd-highlight">{{_('瑞讯银行IBAN')}}{{_('(21位字母+数字组合)')}}</div>
                                <div class="form-group form-float">
                                    <input id="iban" type="text" class="form-control" placeholder="{{_('瑞讯银行IBAN')}}" name="iban" required value="{{page_main['iban']}}" {{ 'disabled' if page_main['flag'] > 0 else '' }}>
                                    <BR>
                                    <span style="color:red"><B> ! {{_('请填写收取佣金的瑞讯银行账号（必须***）')}}。</B></span>
                                    <BR>
                                    <span style="color:red"><B> ! {{_('资料修改后会自动锁定，如需再次修改请联系大叔QQ')}}。</B></span>
                                    <BR>
                                    <span style="color:red"><B> ! {{_('结算时间：每周未结算并打入此账号/下周第一个工作日(遇假日顺延)佣金会到账')}}。</B></span>
                                    <BR>
                                    <span style="color:red"><B> ! {{_('结算条件：当未结算佣金累计大于50美元时周末结算')}}。</B></span>
                                    {% if page_main['flag'] != 0 %}
                                    <BR>
                                    <span style="color:red"><B> ! {{_('佣金升级请联系客服')}}</B></span>
                                    {% end if %}
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="form-group form-float">
                                    {% raw xsrf_form_html() %}
                                    <button id="button_enter_send" class="btn btn-raised btn-primary btn-round waves-effect" type="button" onClick="my_submit();" {{ 'disabled' if page_main['flag'] > 0 else '' }}>{{_('保存更新')}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- #END# CKEditor -->