<aside id="leftsidebar" class="sidebar">
    <ul class="nav nav-tabs">
        <li><a class="navbar-brand" href="index"><img src="{{ static_url('img/logo32.png')}}" alt="fxcns"></a></li>
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#dashboard"><i class="zmdi zmdi-view-dashboard m-r-5"></i>{{_('风控')}}</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#user" onclick="Strategy_tag()"><i class="zmdi zmdi-accounts-alt m-r-5"></i>{{_('策略')}}</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane stretchRight active" id="dashboard">
            <div class="menu">
                <ul class="list">
                    <li>
                        <div class="user-info">
                            <div class="image"><a href="/user/info?fx_type=edit_logo"><img  style="height: 80px;" src="{{static_url('faceimg/profile_av.jpg' if (page_main.get('current_logo_url') == 'null' or page_main.get('current_logo_url') == None) else 'faceimg/' + page_main.get('current_logo_url'))}}" alt="User"></a></div>
                            <div class="detail">
                                <h4><a href="/user/info?fx_type=edit_info">{{_("未命名" if page_main['current_ma_name'] == "null" else page_main['current_ma_name'])}}</a></h4>
                                <small>{{_('策略账户')}} : {{page_main['current_account']}}</small>
                            </div>
                        </div>
                    </li>
                    <!--<li class="header">{{_('主控面板')}}</li>-->
                    <li class="active open"> <a href="index"><i class="zmdi zmdi-home"></i><span>{{_('首页')}}</span></a>
                    </li>
                    <li class="active open"> <a href="/h?uaid={{page_main.get('uaid')}}" target="_blank" ><i class="zmdi zmdi-globe-alt"></i><span>{{_('主账户')}}</span> </a>
                    </li>
                    <li> <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-globe-alt"></i><span>{{_('跟单账户')}}</span> </a>
                        <ul class="ml-menu">
                            <li><a href="/user/copy?fx_type=list_loging">{{_('在线状态')}}</a></li>
                            <li><a href="/user/copy?fx_type=list_position">{{_('持仓监控')}}</a></li>
                            <li><a href="/user/copy?fx_type=list_account">{{_('账户管理')}}</a></li>
                        </ul>
                    </li>
                    <li> <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-group-work"></i><span>{{_('风控')}}</span> </a>
                        <ul class="ml-menu">
                            <li> <a href="/user/copy?fx_type=list_net_ratio">{{_('账户资金')}}</a></li>
                            <!--<li> <a href="#">{{_('风控仪表盘')}}</a></li>-->
                        </ul>
                    </li>
                    <li> <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-chart"></i><span>{{_('统计')}}</span> </a>
                        <ul class="ml-menu">
                            <li><a href="/user/copy?fx_type=list_order_count&time_type=the_week">{{_('订单统计')}}</a></li>
                            <!--<li><a href="#">{{_('交易手数')}}</a></li>-->
                            <!--<li><a href="#">{{_('资金统计')}}</a></li>-->
                        </ul>
                    </li>
                    <li class="header">{{_('特别管理区')}}</li>
                    <li> <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-money-box"></i><span>{{_('财务')}}</span> </a>
                        <ul class="ml-menu">
                            <li><a href="/user/accounts?fx_type=list_pricing">{{_('我要续费')}}</a></li>
                            <li><a href="/user/accounts?fx_type=list_account_order">{{_('购买记录')}}</a></li>
                        </ul>
                    </li>
                    <li> <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-balance"></i><span>{{_('瑞讯银行代理区')}}</span> </a>
                        <ul class="ml-menu">
                            <li><a href="/user/proxy?fx_type=open">{{_('瑞讯瑞士开户')}}</a></li>
                            <li><a href="/user/proxy_info?fx_type=edit_proxy">{{_('收款管理')}}</a></li>
                            <li><a href="/user/proxy_info?fx_type=proxy_graup">{{_('返点报表')}}</a></li>
                            <li><a href="/user/proxy_info?fx_type=list_proxy_account">{{_('账号管理')}}</a></li>
                            <li><a href="/user/proxy?fx_type=list_proxy_order_count">{{_('返点统计')}}</a></li>
                            <li><a href="/user/proxy?fx_type=list_settlement">{{_('结算报表')}}</a></li>
                        </ul>
                    </li>
                    <li> <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-help-outline"></i><span>{{_('帮助与建议')}}</span> </a>
                        <ul class="ml-menu">
                            <li><a href="/user/proposal?fx_type=list_help">{{_('帮助与常见问题')}}</a></li>
{#                            <li><a href="/user/proposal?fx_type=add_proposal">{{_('我要提问题或建议')}}</a></li>#}
{#                            <li><a href="/user/proposal?fx_type=list_proposal">{{_('我的问题或建议')}}</a></li>#}
                        </ul>
                    </li>
                    <li> <a target="_blank" href="https://wpa.qq.com/msgrd?v=3&uin=68660728&site=qq&menu=yes"><img border="0" src="https://wpa.qq.com/pa?p=2:68660728:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
                    </li>
                    <li><a href="javascript:{{'set_lang(\''+ page_main.get('lang') + '\')'}};"><i class ="zmdi zmdi-view-subtitles"></i><span>{{_('English')}}</span></a></li>
                    <li>&nbsp;&nbsp;</li>
                </ul>
            </div>
        </div>
        <div class="tab-pane stretchLeft" id="user">
            <div class="menu">
                <ul class="list">
                    <li>
                        <div class="user-info m-b-20 p-b-15">
                            <div class="image"><a href="/user/info?fx_type=edit_logo"><img style="height: 80px;" src="{{static_url('faceimg/profile_av.jpg' if (page_main.get('current_logo_url') == 'null' or page_main.get('current_logo_url') == None) else 'faceimg/' + page_main.get('current_logo_url'))}}" alt="User"></a></div>
                            <div class="detail">
                                <!--<h4>{{session['web_uname']}}</h4>-->
                                <h4>{{_("未命名" if page_main['current_ma_name'] == "null" else page_main['current_ma_name'])}}</h4>
                            </div>
                            <!--<p class="text-muted">795 Folsom Ave, Suite 600 San Francisco, CADGE 94107</p>-->
                            <div class="row">
                                <div class="col-4">
                                    <h5 class="m-b-5" id="master_count_all">0</h5>
                                    <small>{{_('总账户')}}</small>
                                </div>
                                <div class="col-4">
                                    <h5 class="m-b-5" id="master_count_ok">0</h5>
                                    <small>{{_('已授权')}}</small>
                                </div>
                                <div class="col-4">
                                    <h5 class="m-b-5" id="master_max_num">0</h5>
                                    <small>{{_('可用授权')}}</small>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <span id="StrategyList"></span>
                    </li>
                    <li class="header-dropdown">
                        <a href="/user/strategy?fx_type=list_master"> <i class="zmdi zmdi-edit"></i> {{_('编辑策略列表')}}</a>
                    </li>
                    <li>&nbsp;</li>
                </ul>
            </div>
        </div>
    </div>
</aside>