<div class="container-fluid">
    <!-- Exportable Table -->
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h2><strong>{{_("我的问题或建议")}}</strong>  </h2>
                </div>
                <div class="body">
                    <table id="datatable01" class="table table-bordered table-striped table-hover dataTable" width="100%">
                        <!--js-exportable-->
                        <thead>
                            <tr>
                                {%for j in range(3)%}
                                <th></th>
                                {%end for%}
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Exportable Table -->
</div>