<div class="container-fluid">
    <!-- Exportable Table -->
    <div class="row clearfix">
        <div class="col-lg-12" style="margin-top: 30px;">
            <div class="card">
                <div class="header">
                    <h2><strong>{{_(page_main['title_type'])}}</strong>  </h2>
                    <!--<ul class="header-dropdown">-->
                        <!--<li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>-->

                        <!--</li>-->
                    <!--</ul>-->
                </div>
                <div class="body">
                    <table id="datatable01" class="table table-bordered table-striped table-hover dataTable" width="100%">
                        <!--js-exportable-->
                        <thead>
                            <tr>
                                {%for j in range(page_main['th_num'])%}
                                <th></th>
                                {%end for%}
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Exportable Table -->
</div>