<link rel="icon" href="{{ static_url('img/favicon.ico')}}" type="image/x-icon">
<!-- Favicon-->
<link rel="stylesheet" href="{{ static_url('assets/plugins/bootstrap/css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{ static_url('assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css')}}"/>
<link rel="stylesheet" href="{{ static_url('assets/plugins/morrisjs/morris.min.css')}}" />
<link rel="stylesheet" href="{{ static_url('assets/plugins/sweetalert/sweetalert.css')}}"/>
<!-- Custom Css -->
<link rel="stylesheet" href="{{ static_url('assets/css/main.css')}}">
<link rel="stylesheet" href="{{ static_url('assets/css/color_skins.css')}}">
<style>
    .warning_border_gold{
        border: 1px solid #ff9600 !important;
    }
    .warning_border_red{
        border: 1px solid #fb483a !important;
    }
    input:checked+label::after {
        color: #3085d6;
    }
</style>