<nav class="navbar p-l-5 p-r-5">
    <ul class="nav navbar-nav navbar-left" style="padding-left:6px;">
        <li>
            <div class="navbar-header">
                <a href="javascript:void(0);" class="bars"></a>
            </div>
        </li>

        <li><a href="javascript:void(0);" class="ls-toggle-btn" data-close="true"><i class="zmdi zmdi-swap"></i></a></li>
        <li class="float-right">
            <a id="navClick" href="javascript:fullScreen();" class="fullscreen hidden-sm-down" data-provide="fullscreen" data-close="true"><i id="nav_i" class="zmdi zmdi-fullscreen"></i></a>
            <a href="javascript:sign_url_out();" class="mega-menu" data-close="true"><i class="zmdi zmdi-power"></i></a>
        </li>
    </ul>
</nav>