<!-- CKEditor -->
<div class="container-fluid" style="padding-top:30px;">
    <form id="form_validation">
        <div class="row clearfix justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="header">
                        <h2> <strong>{{_('策略资料')}}{{_('修改')}}</strong> <small></small> </h2>
                        <ul class="header-dropdown">
                            <li class="remove">
                                <!--<button class="btn btn-raised btn-primary btn-round waves-effect" type="button">{{_('保存更新')}}</button>-->
                            </li>
                        </ul>
                    </div>
                    <div class="body">

                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="mr-auto p-2 bd-highlight">{{_('策略账户')}}</div>
                                <div class="form-group form-float">
                                    <input type="text" class="form-control" placeholder="{{_('策略账户')}}" name="old_password" required disabled value="{{page_main['account']}}">
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="mr-auto p-2 bd-highlight">{{_('跟单账号的订单备注')}}</div>
                                <div class="form-group form-float">
                                    {% if page_main['fx_comment'] is None%}
                                        <input type="text" class="form-control" placeholder="{{_('订单备注')}}" name="comment" required value="">
                                    {% else %}
                                        <input type="text" class="form-control" placeholder="{{_('订单备注')}}" name="comment" required value="{{page_main['fx_comment']}}">
                                    {% end if %}
                                    <BR>
                                    <BR>{{_('例子')}} <BR>yyyyy:::8888888 <BR>("yyyyy"{{_('为订单备注中可修改的部分')}})<BR>
                                    {{_('仅支持')}} a-z A-Z 0-9 _ {{_('这些字符')}}
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="form-group form-float">
                                    {% raw xsrf_form_html() %}
                                    <button id="button_enter_send" class="btn btn-raised btn-primary btn-round waves-effect" type="button" onClick="my_submit();">{{_('保存更新')}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- #END# CKEditor -->