{% extends "template_swissquote_index.html" %}

{% block css %}
{% include mode_css.html%}
<!-- JQuery DataTable Css -->
<link rel="stylesheet" href="{{ static_url('assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css')}}">
<link rel="stylesheet" href="{{ static_url('assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css')}}">
<link rel="stylesheet" href="{{ static_url('assets/plugins/sweetalert/sweetalert2.min.css')}}">
{% end %}

{% block middle %}
<section class="content" style="height: calc(100vh - 60px);">
<div class="container-fluid col-lg-10">
    <!-- Exportable Table style="width: 960px;"-->
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h2><strong>{{_(page_main['title_type'])}}</strong>  </h2>
                </div>
                <div class="body">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;【 获得佣金返还的步骤 】</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（注：仅<B>MT4</B>或<B>MT5</B>账号的<B>美元</B>账号支持返佣，其他币种的账号不支持返佣），任何货币都可以直接转入瑞讯的美元账号，但会按实时汇率自动兑换成美元。美元目前处于上涨周期，更有利于保值。</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<B>第一步：</B>必须通过此链接开户 ->[ <a href="https://www.fxcns.com/home/index-u-id-52.html" target="_blank" title="点击此按钮，直接进入开户">瑞讯银行Swissquote瑞士总部开户专用地址（官方标准点差）</a> ]</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<B>第二步：</B>开户申请后会收到瑞讯的开户成功邮件，邮件中有属于您的银行账号，将资金电汇到这个银行账号，入金成功后会收到MT4或MT5账号。</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<B>第三步：</B>在左侧菜单中，找到"账号管理"，然后，点击右上角的+，进行新增MT4或MT5账户绑定。 </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果您有朋友或客户需要开户，开户步骤也是同上第一、二步。 </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第三步您可以选择把朋友或客户的MT4或MT5账户绑定到您的这个返佣账号，这样就由您收取返佣。 </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第三步您也可以选择告诉他人这个返佣网站，让他人自己收取返佣。 </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;详细开户步骤与要点介绍请查看<a href="https://www.fxcns.com/home/index-blog-id-56.html" target="_blank">https://www.fxcns.com/home/index-blog-id-56.html</a> </p>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-lg-6 ">
                        <a href="https://www.fxcns.com/home/index-u-id-52.html" target="_blank" title="点击此按钮，直接进入开户">
                            <button type="button" class="btn btn-raised btn-primary waves-effect btn-round" >
                                <i class="zmdi zmdi-account-add">&nbsp;&nbsp;瑞讯银行Swissquote瑞士总部开户专用地址（官方标准点差）</i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="body">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;瑞讯1990年从事财务软件应用程序开始，2000年在瑞士上市，同年获得银行牌照。正式成为瑞讯银行Swissquote Bank。 瑞讯银行2021年财报，其客户资产增长到559 亿瑞士法郎（折合人民币3987亿），净手续费和佣金收入（不包括加密货币）增长 10.4% 至 1.612 亿瑞士法郎（11.46亿人民币）。（因为很少在国内做宣传，风控也很严格。所以，国内除了机构、有实力的团队或个人会使用。</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;通过本站的链接，可直达瑞讯银行瑞士总部开户，有护照的伙伴可以直接进行在线视频认证。无护照的伙伴不能进行视频认证，需要联系左侧菜单中的大叔QQ，告诉您如何操作。</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注意：其他网站、包括瑞讯官网在内直接开户都会分配到香港开户，也有部分伙伴不相信，结果一会就会接到香港客服电话或短信，那时后悔已经来不及了。</p>


                </div>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
    <!-- #END# Exportable Table -->
</div>
</section>
{% end %}

{% block js %}
{% include mode_js.html%}
<!-- Jquery DataTable Plugin Js -->
<script src="{{ static_url('assets/bundles/datatablescripts.bundle.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.html5.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.print.min.js')}}"></script>


<script src="{{ static_url('assets/plugins/sweetalert/sweetalert2.min.js')}}"></script>

<script src="{{ static_url('assets/js/pages/tables/jquery-datatable.js')}}"></script>
<script src="{{ static_url('assets/plugins/nouislider/nouislider.js')}}"></script>
{% end %}