{% extends "template_swissquote_index.html" %}

{% block css %}
{% include mode_css.html%}
<!-- JQuery DataTable Css -->
<link rel="stylesheet" href="{{ static_url('assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css')}}">
<link rel="stylesheet" href="{{ static_url('assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css')}}">
<link rel="stylesheet" href="{{ static_url('assets/plugins/sweetalert/sweetalert2.min.css')}}">

{% end %}

{% block middle %}
<section class="content" style="height: calc(100vh - 60px);">
    {% include mode_proxy_accountclass_list.html%}
</section>
{% end %}

{% block js %}
{% include mode_js.html%}
<!-- Jquery DataTable Plugin Js -->
<script src="{{ static_url('assets/bundles/datatablescripts.bundle.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.html5.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/jquery-datatable/buttons/buttons.print.min.js')}}"></script>
<script src="{{ static_url('assets/plugins/sweetalert/sweetalert2.min.js')}}"></script>
<script src="{{ static_url('assets/js/pages/tables/jquery-datatable.js')}}"></script>
<script src="{{ static_url('assets/plugins/nouislider/nouislider.js')}}"></script>
<script >
    $(document).ready(function () {
        // var prc_type = $("#prc_type").val();

        var myTable = $('#datatable01').DataTable({
            order: [[ 1, "desc"]],
            bProcessing : true, //DataTables载入数据时，是否显示‘进度’提示
            bServerSide : true, //是否启动服务器端数据导入
            searching: true,
            stateSave: false,
            ordering: false,
            paging: true,
            // pagingType: 'full_numbers',
            // sPaginationType: 'full_numbers',
            autoWidth: true,
            responsive: false,
            // pageLength: 10,
            destroy: false,
            lengthChange: false,
            iDisplayLength : 10, //默认显示的记录数
            bPaginate : true, //是否显示（应用）分页器
            bInfo : true, //是否显示页脚信息，DataTables插件左下角显示记录数
            ajax: {
                'url': '/swissquote/proxy_info?fx_type=list_proxy_account_class&nt='+ Date.parse(new Date()),
                // 'dataSrc': handle_data_src,
                'type': 'POST',
                'async': false,
                'data': {}
            },
            columns: [
                {
                    title: "{{_('分组名称')}}",
                    data: 'acco',
                    class: 'text-center align-middle'
                },
                {
                    title: "{{_('编辑')}}",
                    data: 'gid',
                    class: 'text-center align-middle',
                    render: function (data, type, row) {
                        var e = '<button id="button'+ row.gid +'" class="btn btn-primary btn-icon btn-icon-mini btn-round" onclick="edit_proxy_accountclass(' + row.gid +',\''+ row.acco +'\');"><i id="i'+ row.gid +'" class="zmdi zmdi-edit"></i></button>';
                        return e;
                    }
                }
            ],
            language: { //自定义描述....
                "sProcessing": "{{_('正在获取数据, 请稍后')}}...",
                // "sLengthMenu": "显示 _MEUN_ 条",
                "sZeroRecords": "{{_('没有找到数据')}}",
                "sInfo": "{{_('从')}} _START_ {{_('到')}} _END_ {{_('条记录')}} {{_('总记录数为')}} _TOTAL_ {{_('条')}}",
                "sInfoEmpty": "{{_('记录数为0')}}",
                "sInfoFiltered": "({{_('全部记录数')}} _MAX_ {{_('条')}})",
                "sInfoPostFix": "",
                "sSearch": "{{_('全局搜索')}}",
                "sUry": "",
                "oPaginate": {
                    "sFirst": "{{_('第一页')}}",
                    "sPrevious": "{{_('上一页')}}",
                    "sNext": "{{_('下一页')}}",
                    "sLast": "{{_('最后一页')}}"
                },
                "loadingRecords": "{{_('请稍候-正在加载')}}...",
                "processing": "{{_('数据库当前很忙')}}",
                "search": "{{_('关键字搜索')}} _INPUT_ {{_('应用于表格')}}"
            },
        });
        // 延迟搜索
        $(".dataTables_filter input") .unbind() .bind('keyup change', function(e) { if (e.keyCode == 13 || this.value == "") { myTable .search(this.value) .draw(); } });

    });

    //新增账号
    function add_proxy_account() {
        swal.fire({
            html: "<div class=\"col-lg-12 col-md-12 col-sm-12\">\n" +
                "    <div class=\"card\">\n" +
                "        <div class=\"header\">\n" +
                "            <h2><strong>{{_('新增分组')}}</strong></h2>\n" +
                "        </div>\n" +
                "        <div class=\"body\">\n" +
                "            <form class=\"form\" action=\"\" method=\"post\" name=\"proxy_form\">\n" +
                "                <div class=\"form-group\">\n" +
                "                    <div class=\"row clearfix\">\n" +
                "                        <div class=\"col-lg-12 col-md-12\">\n" +
                "                            <div class=\"form-group form-float\" style='text-align:left;'>\n" +
                "                                {{_('设置分组后，返点历史数据都可以根据分组计算结果')}}<BR>\n" +
                "                            </div>\n" +
                "                        </div>\n" +
                "                        \n" +
                "                    </div>\n" +
                "                </div>\n" +
                "                <div class=\"form-group\">\n" +
                "                    <div class=\"row clearfix\">\n" +
                "                        <div class=\"col-lg-12 col-md-12\">\n" +
                "                            <div class=\"d-flex bd-highlight\">\n" +
                "                                <div class=\"mr-auto p-2 bd-highlight\">{{_('分组名称')}}</div>\n" +
                "                                <div class=\"p-2 bd-highlight\"></div>\n" +
                "                            </div>\n" +
                "                            <div class=\"form-group\">\n" +
                "                                <input name=\"user_class\" type=\"text\" id=\"user_class\" class=\"form-control\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"{{_('输入分组的名称')}}\">\n" +
                "                            </div>\n" +
                "                        </div>\n" +
                "                    </div>\n" +
                "                </div>\n" +
                "            </form>\n" +
                "        </div>\n" +
                "    </div>\n" +
                "</div>",
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
            confirmButtonText:"{{_('新增')}}",
            cancelButtonText:"{{_('取消')}}",
            allowEscapeKey:true,
            allowOutsideClick: true,
            preConfirm: function() {
                return new Promise(function (resolve, reject) {
                    add_proxy_accountclass_form();
                });
            }
        }).then(function (re) {
            // alert(re.reponse_status);
            // swal.showLoading();
        })
    }

    //新增账户
    function add_proxy_accountclass_form() {
        // var arr = $("#parameter_form").serialize();
        // alert(arr['maxtime']);
        $.ajax({
            type: 'post',
            url: '/swissquote/proxy_info?fx_type=add_proxy_accountclass&nt=' + Date.parse(new Date()),
            data: $("form").serialize(),
            cache: false,
            dataType: "JSON",
            success: function (re) {
                if (re.reponse_status == 5) {
                    swal.fire("{{_('新增成功')}}");
                    window.location.reload();
                    // resolve();
                }else if (re.reponse_status < 0){
                    swal.fire(re.echo + "error:" + re.reponse_status.toString());
                    // login_time_out();
                    // resolve();
                } else {
                    swal.fire(re.echo + "error:" + re.reponse_status.toString());
                    // reject(re.echo);
                }
            },
            error: function (re) {
                // showNotification("bg-red","授权失败,获得数据异常,请重试","bottom","center",null,null);//错误警示
                // reject("未知错误,授权失败,稍后请重试！");
                swal.fire("{{_('未知错误,失败,稍后请重试')}}！");
            }
        });
    }

    //修改分组名称
    function edit_proxy_accountclass(gid, user_class) {
        swal.fire({
            html: "<div class=\"col-lg-12 col-md-12 col-sm-12\">\n" +
                "    <div class=\"card\">\n" +
                "        <div class=\"header\">\n" +
                "            <h2><strong>{{_('编辑分组名称')}}</strong></h2>\n" +
                "        </div>\n" +
                "        <div class=\"body\">\n" +
                "            <form class=\"form\" action=\"\" method=\"post\" name=\"proxy_form\">\n" +
                "                <div class=\"form-group\">\n" +
                "                    <div class=\"row clearfix\">\n" +
                "                        <div class=\"col-lg-12 col-md-12\">\n" +
                "                            <div class=\"form-group form-float\" style='text-align:left;'>\n" +
                "                               <BR>\n" +
                "                            </div>\n" +
                "                        </div>\n" +
                "                        \n" +
                "                    </div>\n" +
                "                </div>\n" +
                "                <div class=\"form-group\">\n" +
                "                    <div class=\"row clearfix\">\n" +
                "                        <div class=\"col-lg-12 col-md-12\">\n" +
                "                            <div class=\"d-flex bd-highlight\">\n" +
                "                                <div class=\"mr-auto p-2 bd-highlight\">{{_('分组名称')}}</div>\n" +
                "                                <div class=\"p-2 bd-highlight\">{{_('由 2～20 个字符组成')}}</div>\n" +
                "                            </div>\n" +
                "                            <div class=\"form-group\">\n" +
                "                                <input name=\"user_class\" type=\"text\" id=\"user_class\" class=\"form-control\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"{{_('输入分组的名称')}}\">\n" +
                "                            </div>\n" +
                "                        </div>\n" +
                "                    </div>\n" +
                "                </div>\n" +
                "            </form>\n" +
                "        </div>\n" +
                "    </div>\n" +
                "</div>",
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
            confirmButtonText:"{{_('提交')}}",
            cancelButtonText:"{{_('取消')}}",
            allowEscapeKey:true,
            allowOutsideClick: true,
            onOpen: function() {
                {#document.getElementById("user_class") = user_class;#}
                $("#user_class").val(user_class);
            },
            preConfirm: function() {
                return new Promise(function (resolve, reject) {
                    edit_proxy_accountclass_form(gid);
                });
            }
        }).then(function (re) {
            // alert(re.reponse_status);
            // swal.showLoading();
        })
    }

    //更改分组名称状态
    function edit_proxy_accountclass_form(gid) {
        // var arr = $("#parameter_form").serialize();
        // alert(arr['maxtime']);
        $.ajax({
            type: 'post',
            url: '/swissquote/proxy_info?fx_type=edit_proxy_accountclass&gid=' + gid + '&nt=' + Date.parse(new Date()),
            data: $("form").serialize(),
            cache: false,
            dataType: "JSON",
            success: function (re) {
                if (re.reponse_status == 5) {
                    swal.fire("{{_('分组名称修改成功')}}");
                    window.location.reload();
                    // resolve();
                }else if (re.reponse_status < 0){
                    swal.fire(re.echo + "error:" + re.reponse_status.toString());
                    // login_time_out();
                    // resolve();
                } else {
                    swal.fire(re.echo + "error:" + re.reponse_status.toString());
                    // reject(re.echo);
                }
            },
            error: function (re) {
                // showNotification("bg-red","授权失败,获得数据异常,请重试","bottom","center",null,null);//错误警示
                // reject("未知错误,授权失败,稍后请重试！");
                swal.fire("{{_('未知错误,失败,稍后请重试')}}！");
            }
        });
    }

</script>
{% end %}