{% extends "template_swissquote_index.html" %}

{% block css %}
{% include mode_css.html%}
<!-- JQuery DataTable Css -->
<link rel="stylesheet" href="{{ static_url('assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css')}}">
<link rel="stylesheet" href="{{ static_url('assets/plugins/sweetalert/sweetalert2.min.css')}}">

<!--<link rel="stylesheet" href="{{ static_url('assets/plugins/nouislider/nouislider.min.css')}}">-->
{% end %}

{% block middle %}
<section class="content" style="height: calc(100vh - 60px);">
    {% include mode_proxy_group.html%}
</section>
{% end %}

{% block js %}
{% include mode_js.html%}
<!--{% include mode_js3.html%}-->
<script src="{{ static_url('assets/plugins/sweetalert/sweetalert.min.js')}}"></script> <!-- SweetAlert Plugin Js -->

{% end %}